
/*
* {
    outline: 2px solid red;
  }
*/

body {
    margin: 0px;
}

  /* Section One */
.container-one {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 450px;
}

.container-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.link, #subtext, #placeholder {
    font-size: 18px;
    color: #E5E7EB;
}

/* Section  Two */

.container-two {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 100px;

}

.container-two-one {
    max-width: 420px;
}


#awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#placeholder {
    background-color: grey;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;

}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid white;
    padding: 1px 25px;
}

#noborder {
    border-color: #3882f6;
}

.images {
    display: flex;

}

.container-three {
    text-align: center;
    margin: 75px;
}

.container-info {
    display: flex;
    justify-content: center;
    gap: 52px;
}

img {
    width: 100px;
    height: 100px;
    outline: 2px solid #3882f6;
    border-radius: 5px;
  }

.item-info {
    max-width: 200px;
}

.threea {
    font-weight: 900px;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 32px;
    font-weight: bolder;
}

.container-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.foura {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
}

.fourb {
    font-weight: bolder;
    margin-left: 500px;
}

.container-five {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.container-six {
    background-color: #3882f6;
    width: 1000px;
    display: flex;
    justify-content: center;
    gap: 250px;
    border-radius: 5px;
    padding: 50px;    
    
}

.action {
    display: flex;
    flex-direction: column;
    
}



.fivea {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.fiveb {
    color: white;
}

.six {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 25px;
}